@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

body {
    margin: 0;
    background-color: #FFFFFF;
    width: 100%;
}

body * {
    box-sizing: border-box;
}

.nunito-font {
    font-family: Nunito Sans;
}

/* HEADER */

.header {
    background-color: #131313;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 83px;
    align-items: center;
    flex-direction: row;
    font-size: 11px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    width: 1256px;
    height: 37px;
}

.logo {
    color: #E3B873;
    text-align: center;
    height: 10px;
    display: flex;
    align-items: flex-start;
}

.header-navigation-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 1086px;
}

.header-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 629px;
}

.navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 614px;
    color: #FFFFFF;
}

.navigation-item a {
    text-decoration: none;
    color: white;
    height: 10px;
    display: flex;
    align-items: flex-start;
}

.change-color-yellow:hover {
    color: #E3B873;
}

.phone-number {
    color: #E3B873;
    height: 10px;
    display: flex;
    align-items: flex-start;
    margin-right: 18px;
}

.request-button {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center; 
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 0;
    background: #E3B873;
    color: #FFFFFF;
    outline: 0;
    font-style: italic;
    width: 161px;
    border-radius: 2px;
}

.request-button:hover {
    border: 1px solid #FFFFFF;
    background: transparent;
}

@media (max-width: 768px) {
    .header-navigation {
        display: none;
    }

    .header-box {
        width: 100%;
    }

    .header-navigation-box {
        width: 100%;
        margin: 18px;
    }

    .phone-number {
        text-decoration: none;
        margin: 0;
    }
}

/* MAIN */

.hero {
    background-image: url('./hero.jpg');
    background-size: cover;
    height: 707px;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-container {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 1168px;
    max-width: 1440px;
    height: 479px;
    display: flex;
    align-items: center;
}

.hero-title-box {
    width: 514px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 305px;
    margin-bottom: 23px;
}

.title {
    font-family: Yeseva One, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-align: left;
    margin: 0;
    color: #FFFFFF;
    height: 105px;
}

.title:hover {
    color: #E3B873;
}

.main-desc {
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.description {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
}

.two-buttons {
    width: 434px;
    display: flex;
    justify-content: space-between;
    height: 51px;
}

.hero-button {
    font-size: 11px;
    text-align: center;
    padding: 18px 23px;
    font-style: italic;
    width: 213px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 0;
    border-radius: 2px;
    background: #E3B873;
    color: #FFFFFF;   
}

.hero-button:hover {
    border: 1px solid #FFFFFF;
    background: transparent;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

@media (max-width: 768px) {
    main {
        width: 100%;
    }

    .header {
        height: 57px;
    }

    .hero {
        width: 100%;
        padding: 0px 18px;
        justify-content: flex-start;
        height: 476px;
    }

    .hero-container {
        width: 100%;
    }

    .hero-title-box {
        width: 100%;
        justify-content: flex-start;
    }

    .title {
        font-size: 23px;
        line-height: 30px;
        padding-top: 10px;
        height: 60px;
        margin-bottom: 13px;
    }

    .main-desc {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 69px;
    }

    .two-buttons {
        width: 100%;
        flex-direction: column;
    }

    .button-margin {
        margin-bottom: 26px;
    }

    .hero-button {
        width: 100%;
    }
}

/* SECTION COMPLETED PROJECTS */

.completed-projects {
    background-color: #131313;
    margin: 0px auto;
    height: 1074px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.compl-projects {
    display: flex;
    justify-content: space-between;
    margin-top: 107px;
    width: 1172px;
    max-width: 1440px;
}

.description-box {
    top: 107px;
	bottom: 414px;
	left: 135px;
	right: 863px;  
    margin: 0;
    width: 501px;
    height: 551px;
}

.title-box {
    display: flex;
    flex-direction:column;
    justify-content: flex-start; 
    height: 186px;
    margin: 67px 0 42px 0;
}

.mobile-image-box {
    display: none;
}

.title-projects {
    color: #E3B873;
    width: 253px;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    margin-bottom: 9px;
}

.projects-desc {
    width: 442px;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.projects_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.pr-item {
    width: 190px;
    height: 73px;
    margin: 0 0 34px 0;
}

.pr-headed {
    color: #E3B873;
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 7px;
}

.pr-item-desc {
    margin: 0;
    color: #FFFFFF;
    width: 117px;
    font-family: Nunito Sans;
    font-size: 13px;
    line-height: 21px;
}

.arrow-symbol {
    width: 206px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot-symbols {
    width: 64px;
    display: flex;
    justify-content: space-between;
}

.dot-symbol {
    width: 10px;
    height: 10px;;
    border-radius: 30px;
    display: flex;
}

.dot-symbol:hover {
    background-color: #FFFFFF;
}

.image-nav_projects {  
    top: 107px;
	bottom: 414px;
	left: 626px;
	right: 135px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;    
    height: 557px;
    width: 679px;
}

.pr-nav {
    width: 622px;
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    line-height: 19px;   
}

.pr-nav-item a {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    
}

.change-color:hover {
    color: #E3B873;
}

.add-border:hover {
    border-bottom: 1px #E3B873 solid;
}

.yeseva-font {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
}

@media (max-width: 768px) {
    .completed-projects {
        width: 100%;
        height: 726px;
    }

    .compl-projects {
        width: 100%;
        flex-direction: column;
        margin-top: 0;
    }

    .description-box {
        width: 100%;
        height: 716px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-box {
        align-items: center;
        margin: 36px 32px 24px 32px;
    }

    .mobile-image-box {
        display: flex;
        width: 90%;
        margin: 26px 17px 35px 17px;
    }

    .projects_items {
        height: 192px;
        justify-content: flex-start;
        margin-left: 18px;
    }

    .pr-item {
        width: 160px;
        margin: 0;
    }

    .pr-headed {
        font-size: 14px;
        line-height: 138.6%;
        width: 134px;
        margin-bottom: 13px;
    }

    .pr-item-desc {
        font-size: 11px;
        line-height: 135.84%;
        width: 100px;
    }

    .mobile-image {
        width: 100%;
    }

    .title-projects {
        text-align: center;
        font-size: 22px;
        line-height: 30.49px;
        letter-spacing: -0.07em;
        width: 229px;
        margin-bottom: 15px;
    }

    .projects-desc {
        width: 100%;
        font-size: 11px;
        line-height: 158.48%;
        text-align: center;
    }

    .image-nav_projects {
        display: none;
    }

    .projects-navigation {
        display: none;
    }

    .pr-image {
        width: 100%;
    }

    .projects-image {
        display: none;
    }

    .arrow-symbol {
        display: none;
    }
}

/*SECTION TYPES-0F-REPAIR*/

.types-0f-repair-section {
    margin: 0;
    height: 779px;
}

.types-0f-repair {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.over-panel {
    margin: -326px auto;
    margin-bottom: 147px;
    height: 959px;
    width: 818px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.repair-top-box {
    height: 535px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.repair-middle-box {
    height: 362px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-control {
    width: 196px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.online-control-title {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.center-symbol-divider {
    width: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.repair-video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video {
    position: relative;
    z-index: 1;
}

.video-overlay {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.play-button {
    position: absolute;
    z-index: 3;
}

.video-description {
    width: 681px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.video-text {
    padding-top: 9px;
    padding-bottom: 59px ;
}

.client-contact-input {
    width: 769px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    width: 231px;
    color: #363636;
}

.input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color:#363636;
}

.label-input {
    font-size: 13px;
    line-height: 21px;
}

.contact-lab {
    opacity: 50%
}

.sub-unpt {
    width: 231px;
    border-bottom-color: #36363630;
    border-left-style: hidden;
}

.agreement-container-hidden {
    display: none;
}

.submit-button {
    font-size: 13px;
    text-align: center;
    padding: 18px 23px;
    width: 200px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 0;
    border-radius: 2px;
    background: #E3B873;
    color: #FFFFFF;   
}

.submit-button:hover {
    border: 1px solid #000000;
    background: transparent;
    color: #000000;
}

.agreement-container {
    width: 289px;
    display:inline-flex;
    align-items: center;
    user-select: none;
}


.checkbox-white:checked {
    background-color: #E3B873;
    border-color: #E3B873;
}

.checkbox-agreement-text {
    padding-left: 7px;
    font-size: 14px;
    line-height: 23px;
    border-radius: 1px;
}

.black {
    color: #131313;
}

.white {
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .types-0f-repair-section {
        width: 100%;
        height: 827px;
        background-color: #131313;
    }

    .types-0f-repair {
        width: 100%;
    }

    .over-panel {
        width: 100%;
        margin: 0;
        justify-content: flex-start;
    }

    .repair-top-box {
        width: 100%;
        height: 322px;
        margin-bottom: 7%;
    }

    .repair-middle-box {
        width: 95%;
    }

    .online-control {
        height: 75px;
        width: 100%;
    }
    .online-control-title {
        text-align: center;
        font-size: 22px;
        line-height: 138.6%;
    }

    .repair-video {
        width: 91%;
        height: 64%;
    }

    .video {
        height: 100%;
        width: 100%;
    }
    .play-button {
        height: 33%;
    }

    .video-overlay {
        height: 100%;
        width: 100%;
    }

    .center-symbol-divider {
        width: 20%;
    }

    .video-description {
        width: 95%;
    }

    .video-text {
        font-size: 11px;
        line-height: 169.8%;
        color: #FFFFFF;
        padding-top: 8px;
        padding-bottom: 64px;
    }

    .input-container {
        width: 100%;
    }

    .client-contact-input {
        width: 95%;
        height: 318px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .input-box {
        margin-bottom: 64px;
        width: 100%;
    }

    .label-input {
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }

    .sub-unpt {
        width: 100%;
        background-color: #131313;
        border-color: #948989;
        margin-top: -5px;
        
    }

    .agreement-container-hidden {
        display: flex;
        margin-top: -38px;
        margin-bottom: 59px;
    }

    .agreement-container {
        display: none;
    }
    .submit-button {
        width: 100%;
    } 
}


/*TYPES-OF-REPAIR-SECTION-BOTTOM*/


.types-0f-repair-section-bottom {
    width: 100%;
    height: 936px;
    display: flex;
    justify-content: center;
}

.repair-title {
    display: flex;
    font-size: 20px;
    height: 26px;
    width: 180px;
}

.repair-bottom-box {
    width: 1236px;
    max-width: 1440px;
    height: 708px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.types-of-repair-head {
    height: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.types-of-repair-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.repair-option-item {
    height: 608px;
    width: 392px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.repair-image {
    margin-bottom: 189px;
    position: relative;
    z-index: 1;
    width: 392px;
    height: 421px;
}

.repair-desc {
    margin-left: 32px;
    width: 330px;
    height: 316px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.repair-desc-title {
    padding: 25px 0px 0px 32px;
    font-size: 18px;
}

.repair-desc-list {
    color: #959595;
    font-size: 13px;
    line-height: 27px;
    text-indent: -6px;
    margin: 11px 0px 0px 7px;
}

.repair-cost {
    position: absolute;
    z-index: 3;
    margin-left: 32px;
    height: 54px;
    width: 228px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3B873;
    color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 0;
    font-size: 18px;
}

@media (max-width: 768px) {
    .types-0f-repair-section-bottom {
        height: 1799px;
    }

    .repair-bottom-box {
        margin-top: 81px;
        height: 1684px;
    }

    .types-of-repair-head {
        height: 71px;
        width: 100%;
    }

    .repair-title {
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        justify-content: center;
        height: 100%;
        width: 100%
    }

    .types-of-repair-options {
        flex-direction: column;
        align-items: center;
        height: 1569px;
    }

    .center-symbol-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 31%;
        justify-content: space-between;
    }

    .repair-option-item {
        width: 90%;
        height: 484px;
    }

    .repair-desc {
        margin: 0 0 22px 0;
        width: 80%;
        height: 241px;
    }

    .repair-desc-title {
        font-size: 15px;
        line-height: 138.6%;
        padding: 20px 0px 0px 32px;
    }

    .repair-desc-list {
        line-height: 169.8%;
    }

    .repair-image {
        margin-bottom: 117px;
        width: 100%;
    }

    .room-example {
        width: 100%;
    }

    .repair-cost {
        margin: 0;
        width: 56%;
        height: 40px;
        font-size: 15px;
        line-height: 138.6%;
    }
}


/*REQUEST SECTION*/


.request-section {
    margin: 0;
    height: 861px;
    width: 100%;
    background-image: url(./building.svg);
    background-size: 618px;
    background-repeat: no-repeat;
}

.req-section {
    max-width: 1440px;
    display: flex;
    width: 1234px;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    background-size: 618px;
    background-repeat: no-repeat; */
}

.benefits {
    width: 703px;
    height: 645px;
    padding: 4px 0px 0 139px;
}

.benefit-options {
    display: flex;
    height: 473px;
    flex-direction: column;
    justify-content: space-between;

}

.benefit-option-item {
    width: 399px;
    height: 41px;
    display: flex;
}

.circle {
    color: #FFFFFF;
    background: #e3b873;
    border: 8px solid #ffffff;
    box-shadow: 0px 5px 15px rgb(227 184 115 / 15%);
    border-radius: 50%;
    font-size: 18px;
    line-height: 25px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
}

.subtitle-benefit {
    font-size: 14px;
    color: #363636;
}

.request-input {
    width: 505px;
    height: 717px;
}

.request-inp {
    width: 509px;
    height: 509px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #131313;
    margin-bottom: 18px;
}

.request-inp-desc {
    color: #FFFFFF;
    width: 211px;
    margin: 11px;
    text-align: center;
    font-size: 18px;
}

.input-request-container {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 368px;
    width: 408px;
}

.input-bottom {
    width: 100%;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    background-color: #131313;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.input-box-bottom {
    border-bottom-color: #36363630;
    border-left-style: hidden;
    color: #FFFFFF;
}

.real-input {
    width: 408px;
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.request-input-rectangles {
    width: 408px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label-input-black {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.savings {
    width: 506px;
    height: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 35px;
}
.saving-logo {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #e3b873;
    box-shadow: 0px 10px 20px rgb(237 192 120 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.saving-description {
    width: 235px;
    height: 84px;
    color: #E3B873;
    font-size: 18px;
    line-height: 26px;
}

@media (max-width: 768px) {
    .request-section {
        display: none;
    }
}

/*INTERIORS-SECTION*/



.interiors-section {
    background-image: url('./interiors.jpg');
    background-size: cover;
    height: 864px;
    position: relative;
    background-size: cover;
}

.interiors-section-container {
    max-width: 1440px;
    width: 1242px;
    height: 864px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.interior-navigation-box {
    width: 411px;
    height: 669px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interior-images-box {
    width: 831px;
    height: 1023px;
    margin: 0px 0 76px 0;
    display: flex;
    justify-content: flex-end;
}

.interior-navigation-title {
    width: 411px;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interior-hidden-image {
    display: none;
}

.interior-title {
    width: 381px;
    height: 67px;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    color: #E3B873;
}

.interior-navigation-container {
    width: 411px;
    height: 516px;
}

.interior-navigation {
    width: 411px;
    height: 516px;
}

.interior-navigation-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 411px;
    height: 516px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.interior-navigation-item {
    width: 411px;
    height: 26px;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
}

.interior-images-container {
    width: 751px;
    height: 1023px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-images-box {
    width: 354px;
    height: 1023px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.right-images-box {
    width: 354px;
    height: 1023px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-left-image {
    margin-bottom: 40px;
}

.top-right-image {
    margin-bottom: 40px
}
.interiors-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

@media (max-width: 768px) {
    .interiors-section {
        height: 231px;
    }

    .interiors-section-container {
        width: 100%;
        height: 266px;
        flex-direction: column;
    }

    .interiors-overlay {
        display: none;
    }

    .interiors-section {
        background-image: none;
    }

    .interior-navigation-container {
        width: 100%;
        height: 66px;
        display: none;
    }

    .interior-navigation-title {
        width: 100%;
        height: 110px;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
    }

    .interior-title {
        width: 82%;
        font-size: 22px;
        line-height: 138.6%;
    }

    .interior-navigation-box {
        width: 375px;
        height: 352px;
    }
    
    .interior-images-container {
        display: none;
    }

    .interior-images-box {
        display: none;
    }

    .interior-hidden-image {
        width: 91%;
        height: 242px;
        display: flex;
    }
}

/*OUR-CLIENTS-SECTION*/


.our-clients-section {
    width: 100%;
    height: 1107px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.our-clients-container {
    max-width: 1440px;
    width: 1236px;
    height: 642px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-clients-city-image {
    display: flex;
    height: 355px;
    width: 100%;
    opacity: 5%;
}

.city-view-left {
    transform: scaleX(-1);
    margin-top: -77px;
}

.city-view-right {
    margin-top: -77px;
}

.our-clients-topbox {
    width: 1236px;
    height: 187px;

}

.our-clients-people-boxes {
    width: 1236px;
    height: 455px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-clients-title-symbol-box {
    width: 1236px;
    height: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-clients-slogan-box {
    width: 1236px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-clients-slogan {
    width: 364px;
    height: 81px;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin: 23px 0 39px 0;
}

.our-clients-title {
    width: 257px;
    height: 39px;
}

.our-clients-title-text {
    font-size: 20px;
    line-height: 28px;
    color:#181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.our-clients-symbol-box {
    width: 257px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.our-clients-handshake-symbol {
    height: 28px;
    margin: 0 9px;
}

.our-clients-people-box {
    position: relative;
    width: 376px;
    height: 455px;
}

.our-clients-people-card {
    width: 376px;
    height: 428px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.our-clients-people-profile {
    width: 376px;
    height: 122px;
    display: flex;
    flex-direction: row;
}

.our-clients-people-description {
    width: 376px;
    height: 279px;
    padding-left: 20px;
}
.our-clients-people-photo {
    width: 96px;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.our-clients-people-name {
    width: 280px;
    height: 122px;
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.client-photo {
    border-radius: 50%;
}
.client-name {
    width: 170px;
    text-align: left;
    font-size: 18px;
    line-height: 23px;
    margin-top: 20px;
}
.our-clients-text {
    width: 324px;
    font-size: 13px;
    line-height: 180%;
    margin: 0 0 5px 0;
    color: #959595;
}

.client-button-box {
    position: absolute;
    z-index: 2;
    margin-top: -27px;
    display: flex;
    justify-content: space-between;
    width: 296px;
    height: 54px;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.client-square-button {
    width: 135px;
    height: 54px;
    background-color: #E3B873;
    border: 0; 
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.client-date-button {
    width: 159px;
    height: 54px;
    background-color: #E3B873;
    border: 0;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .our-clients-section {
        display: none;
    }
}

/*MAP-BOTTOM-SECTION*/



.map-bottom-section {
    position: relative;
    width: 100%;
    height: 955px;
    background-image: url(./skycraper.svg);
}

.map-bottom-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

.map-bottom-container {
    max-width: 1440px;
    width: 925px;
    height: 954px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.question-box {
    width: 883px;
    height: 445px;
    background-color: #131313;
    margin-top: -222px;
    display: flex;
    flex-direction: column;
}

.question-input-bottom-box {
    width: 883px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button-bottom-box {
    width: 883px;
    height: 85px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.map-and-social-media-adress-box {
    width: 925px;
    height: 679px;
}

.social-media-adress-box {
    width: 925px;
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-title-bottom-box {
    width: 883px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-bottom-box {
    width: 516px;
    height: 253px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-title-bottom-text {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.input-bottom-name-and-phone {
    width: 516px;
    height: 93px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
}

.input-bottom-name-phone {
    width: 231px;
    display: flex;
    flex-direction: column;
}

.input-bottom-styles {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    background-color: #131313;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.input-bottom-want-to-know {
    color: #FFFFFF;
    width: 516px;
    height: 49px;
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}

.label-bottom {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.submit-button-bottom {
    font-size: 13px;
    text-align: center;
    padding: 18px 23px;
    width: 200px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 0;
    border-radius: 2px;
    background: #E3B873;
    color: #FFFFFF;   
}

.submit-button-bottom:hover {
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
}

.adress-box {
    display: flex;
    justify-content: center;
}

.adress {
    width: 559px;
    height: 51px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #E3B873;
    margin-top: 0;
}

.iframe-hidden {
    display: none;
}

.social-media-box {
    width: 71px;
    height: 148px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 9px;
}

.map-box {
    width: 925px;
    height: 464px;
}

@media (max-width: 768px) {

    .map-bottom-section {
        background-color: #131313;
        background-image: none;
        height: 1195px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .map-bottom-overlay {
        display: none;
    }

    .map-bottom-container {
        width: 100%;
        height: 1024px;
        justify-content: flex-start;
    }

    .question-box {
        width: 100%;
        height: 499px;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .question-input-bottom-box {
        width: 100%;
        height: 396px;
    }

    .question-title-bottom-box {
        width: 257px;
        height: 28px;
    }

    .input-bottom-box {
        width: 91%;
        height: 358px;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 51px;
    }

    .input-bottom-name-and-phone {
        width: 340px;
        height: 156px;
        flex-direction: column;
        margin-bottom: 40px;
        
    }

    .input-bottom-want-to-know {
        width: 340px;
        margin: 0;
    }

    .show {
        display: flex;
    }

    .submit-button-bottom-box {
        width: 100%;
        height: 52px;
        align-items: flex-end;
    }

    .submit-button-bottom {
        width: 91%;
        padding: 17px 23px;
    }

    .social-media-adress-box {
        width: 95%;
    }

    .adress {
        width: 310px;
        font-size: 18px;
        line-height: 24px;
    }
    
    .adress-box {
        margin-bottom: 31px;
    }

    .map-and-social-media-adress-box {
        width: 95%;
        height: 442px;
        margin-top: 46px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .social-media-adress-box {
        height: 32%;

    }

    .social-media-box {
        width: 28%;
        align-items: flex-end;
        padding: 0;
    }
    
    .email-symbol {
        width: 39px;
        height: 39px;
    }

    .instagram-symbol {
        width: 39px;
        height: 39px;
    }

    .instagtam-symbol-box {
        padding-right: 10px;
    }

    .map-box {
        display: none;
    }

    .iframe-hidden {
        display: flex;
        width: 95%;
        height: 58%;
        margin-bottom: 11%;
    }

    .iframe {
        display: none;
    }
}



@media (max-width: 768px) {
    .header-navigation {
        display: none;
    }

    .request-button {
        display: none;
    }

    .footer {
        display: none;
    }
}
