@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

body {
    margin: 0;
    background-color: #FFFFFF;
}

body * {
    box-sizing: border-box;
}

.nunito-font {
    font-family: 'Nunito Sans';
}

.header {
    background-color: #131313;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 83px;
    align-items: center;
    flex-direction: row;
    font-size: 11px
}

.header-box {
    display: flex;
    justify-content: space-between;
    width: 1256px;
}

.logo {
    color: #E3B873;
    text-align: center;
    height: 10px;
    display: flex;
    align-items: flex-start;
}

.header-navigation-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 1086px;
}

.header-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 629px;
}

.navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 614px;
    color: #FFFFFF;
}

.navigation-item a {
    text-decoration: none;
    color: white;
    height: 10px;
    display: flex;
    align-items: flex-start;
}

.change-color-yellow:hover {
    color: #E3B873;
}

.phone-number {
    color: #E3B873;
    width: 133px;
    height: 10px;
    display: flex;
    align-items: flex-start;
}

.request-button {
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center; 
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 0;
    background: #E3B873;
    color: #FFFFFF;
    outline: 0;
    font-style: italic;
    width: 161px;
    border-radius: 2px;
}

.request-button:hover {
    border: 1px solid #FFFFFF;
    background: transparent;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 707px;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-container {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 1170px;
    height: 479px;
    display: flex;
    align-items: center;
}

.hero-title-box {
    width: 514px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 305px;
    margin-bottom: 23px;
}

.title {
    font-family: "YesevaOne-Regular";
    font-style: normal;
    font-size: 40px;
    line-height: 53px;
    text-align: left;
    margin: 0;
    color: #FFFFFF;
}

.title:hover {
    color: #E3B873;
}

.main-desc {
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
}

.two-buttons {
    width: 434px;
    display: flex;
    justify-content: space-between;
    height: 51px;
}

.hero-button {
    font-size: 11px;
    text-align: center;
    padding: 18px 23px;
    font-style: italic;
    width: 207px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 0;
    border-radius: 2px;
    background: #E3B873;
    color: #FFFFFF;   
}

.hero-button:hover {
    border: 1px solid #FFFFFF;
    background: transparent;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.completed-projects {
    background-color: #131313;
    margin: -20px auto;
    height: 1074px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.compl-projects {
    display: flex;
    margin-top: 107px;
    justify-content: space-between;
    width: 1171px ;
}
.description-box {
    top: 107px;
	bottom: 414px;
	left: 135px;
	right: 863px;  
    margin: 0;
}
.title-box {
    display: flex;
    flex-direction:column;
    justify-content: flex-start; 
    height: 186px;
    margin: 69px 0 42px 0;
}

.title-projects {
    color: #E3B873;
    width: 253px;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

.projects-desc {
    width: 442px;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.projects_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 38px;
}

.pr-item {
    width: 190px;
    height: 73px;
    margin: 0 0 34px 0;
}

.pr-headed {
    color: #E3B873;
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 9px;
}

.pr-item-desc {
    margin: 0;
    color: #FFFFFF;
    width: 187px;
    font-family: 'Nunito Sans';
}

.arrow-symbol {
    width: 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot-symbol {
    width: 10px;
    height: 10px;;
    border-radius: 30px;
    display: flex;
}

.dot-symbol:hover {
    background-color: #FFFFFF;
}

.image-nav_projects {  
    top: 107px;
	bottom: 414px;
	left: 626px;
	right: 135px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;    
    height: 557px;
}

.pr-nav {
    width: 679px;
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    line-height: 19px;   
}

.pr-nav-item a {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    
}

.change-color:hover {
    color: #E3B873;
}

.add-border:hover {
    border-bottom: 1px #E3B873 solid;
}

.yeseva-font {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
}
